<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yeom.example.cho.test_12_02">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label=" 걸스카우트 서울연맹"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">

        <activity android:name="yeom.example.cho.test_12_02.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="yeom.example.cho.test_12_02.HomeActivity"></activity>

        <fragment android:name=".Test2"></fragment>

        <activity android:name="yeom.example.cho.test_12_02.Samuchc"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Test4"></activity>
        <fragment android:name=".Test5"></fragment>
        <activity android:name="yeom.example.cho.test_12_02.Supum"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Instructor01"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Instructor02"></activity>
        <fragment android:name=".News"></fragment>
        <fragment android:name=".Student"></fragment>
        <fragment android:name=".Instructor"></fragment>
        <fragment android:name=".Group"></fragment>
        <fragment android:name=".CMS"></fragment>
        <activity android:name="yeom.example.cho.test_12_02.MH"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Yenmeangjang"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Group01"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Student01"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Student02"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Student03"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Student04"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Student05"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Student06"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Student07"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Student08"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Student09"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Student10"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Student11"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Student12"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Instructor03"></activity>
        <activity android:name="yeom.example.cho.test_12_02.Yearly"></activity>


    </application>

</manifest>
